body {
    cursor: url('./images/cursor/0.png'), auto;
}

.tiny {
    transition: all 2s;
}

.tiny_preserved {
    position: absolute;
}

.tiny_dead {
    color: red;
}

.tiny__caption {
    position: absolute;
    font-size: 0.5em;
    opacity: 1;
    transition: all 1s;
}